body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.banner{
  height: 400px;
  width: 100%;
  background-image: url('background.jpg');
  background-size: cover;
}
.content {
  display: flex;
  flex-wrap: wrap;
}

.main {
  flex: 3 60rem;
}
.sidebar {
  flex: 1 20rem;
}

/* products */
.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  list-style-type: none;
  
}
.products li {
  flex: 0 1 20rem;
  height: 40rem;
  padding: 1rem;
}
.product {
  display: block;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.product img {
  width: 20rem;
  height: 20rem;
}

.product h1 {
  justify-content: space-between;
  align-items: center;
  font-size: 2rem;
  margin: 0;
}

.product h2 {
  font-size: 1rem;
  margin: 2rem;
}

.product button:hover {
  opacity: 50%;
}

.cart {
  padding: 1rem;
  display: block;
}

.input-box {
  display: block;
  flex-wrap: wrap;
  margin-top: 1rem;
}

.search-output{
  width: 20rem;
}

.sort {
  display: block;
  flex-wrap: wrap;
  margin-top: 1rem;
}

.sort-bar {
  width: 10rem;
}
